.web{
    color: $accent-color;
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
}
.logo{
    color: $title-text-color;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
}
.logo-decoration{
    text-decoration: none;
    margin-right: 85px;
}